
<body class="mediaForm">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-6 column" id="boxone">
					<h3 class="topper">
						Enter your own media links here!
					</h3>
				</div>
				<div class="col-md-6 column">
				<h3 class="choose"> Please Choose an Emotion </h3>
					<div class="radio">
  						<label class="radMarg"><input type="radio" name="optradio">Happy</label>
					</div>
					<div class="radio">
  						<label class="radMarg"><input type="radio" name="optradio">Sad</label>
					</div>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-6 column">
					<form role="form">
						<div class="form-group">
							 <label for="Video Entry">Give your Video entry a title:</label><input type="text" class="form-control" id="Vid1">
						</div>
						<div class="form-group">
							 <label for="Video link">Enter a link for your Video file:</label><input type="text" class="form-control" id="Vid1">
						</div>
						<button type="submit" class="buttonSub" class="btn btn-default">Submit</button>
					</form>
					<div class="formspace"></div>
				</div>
				<div class="col-md-6 column">
					<form role="form">
						<div class="form-group">
							 <label for="Music Entry">Give your Music entry a title:</label><input type="text" class="form-control" id="Mus1">
						</div>
						<div class="form-group">
							 <label for="Music Link">Enter a link for your Music file:</label><input type="text" class="form-control" id="Mus1">
						</div>
						<button type="submit" class="buttonSub" class="btn btn-default">Submit</button>
					</form>
					<div class="formspace"></div>
				</div>
			</div>
			<div class="row clearfix">
				<div id="botBoxContainer">
				<div id="bottomBox">
					<form role="form">
						<div class="form-group">
							 <label for="Image Entry">Give your Image entry a title:</label><input type="text" class="form-control" id="Img1">
						</div>
						<div class="form-group">
							 <label for="Image link">Enter a link for your Image file:</label><input type="text" class="form-control" id="Img1">
						</div>
						<button type="submit" class="buttonSub" class="btn btn-default">Submit</button>
					</form>
					<div class="formspace"></div>
				</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>




